section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 8.0rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;
        font-family: "Open Sans", serif;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 175%;
    }
}

form#completion {
    fieldset {
        border-radius: 0.8rem;
        padding: 1.2rem 0;
        margin: 0 auto;
    
        dl#categorySelect {
            padding: 0;
            padding-top: 0.85rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
                                            
            dt {
                margin: 0;
                margin-top: 5px;
                margin-right: 10px;
                padding: 0;
                width: 30%;
                font-weight: bold;
                text-transform: capitalize;
                text-align: right;
                font-size: 90%;   
            }
    
            dd {
                margin: 0;
                padding: 0 0.5rem;
                width: 70%;
                
                select {
                    width: 50%;
                    border: 1px solid rgb(112, 128, 144);
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    font-size: 80%;
                }
            }
        }

        dl#questions {
            padding: 0;
            padding-top: 0.85rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
                                            
            dt {
                margin: 0;
                margin-top: 5px;
                margin-right: 10px;
                padding: 0;
                width: 100%;
                font-weight: bold;
                text-transform: lowercase;
                text-align: center;
                font-size: 90%;   
            }
    
            dd {
                margin: 0;
                margin-top: 1.5rem;
                padding: 0 0.5rem;
                display: flex;
                flex-direction: column; 
                justify-content: center;

                div {
                    display: flex;
                    flex: 1 1 50%;
                    margin-left: 45%;

                    input {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
    
        input[type="button"] {
            width: 6.2rem;
            padding: 0.4rem;
            border-radius: 0.5rem;
            color: rgb(255, 255, 255);
            border: none;
        }
    
        #submitBtn {
            background: rgb(40, 167, 69);
        }
    }
}