section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 8.0rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;
        font-family: "Open Sans", serif;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 175%;
    }
}

form#quiz {
    fieldset {
        padding: 1.2rem 0;
        margin: 0 auto;
        margin-bottom: 2.5rem;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        dl {
            margin: 0;
            padding: 0;
            width: 100vw;
            display: flex;
            flex-direction: column;
    
            dt {
                margin-top: 0.3125rem;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-right: 0.5rem;
                font-size: 90%;
                margin-top: 0.3125rem;
            }
    
            dd {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 90%;
                margin-top: 0.3125rem;
        
                select {
                    border: 1px solid rgb(112, 128, 144);
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    font-size: 90%;
                }
            }
        }
        
        dl#questions {
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
                                            
            dt {
                margin: 0;
                margin-right: 10px;
                padding: 0;
                width: 100%;
                margin-bottom: 1rem;
                font-weight: bold;
                text-transform: lowercase;
                display: flex;
                justify-content: center;
                font-size: 150%;   
                color: rgb(198, 10, 30);
            }
    
            dd {
                margin: 0;
                margin-top: 0.5rem;
                padding: 0 0.5rem;
                display: flex;
                flex-direction: column; 
                justify-content: center;
                margin: auto;

                div {
                    display: flex;
                    flex: 1 1 0;
                    margin-bottom: 0.5rem;
                    flex-direction: row;
                    margin: auto;

                    input {
                        margin-right: 0.5rem;

                        @media only screen and (max-width: 480px) {
                            margin-left: -1.875rem;
                        }
                    }
                }
            }
        }
    
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;

        input[type="button"] {
            width: 6.2rem;
            padding: 0.4rem;
            border-radius: 0.5rem;
            color: rgb(255, 255, 255);
            border: none;
        }
    
        #submitBtn {
            background: rgb(40, 167, 69);
        }
    }
}

@media screen and (max-width: 30rem) {

}

@media screen and (min-width: 30rem) and (max-width: 52rem) {

}

@media screen and (min-width: 53rem) and (max-width: 64rem) {
    section {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            margin-top: 8.0rem;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 50px;
            font-family: "Open Sans", serif;
            text-transform: capitalize;
            font-weight: normal;
            font-size: 175%;
        }
    }
    
    form#quiz {
        fieldset {
            padding: 1.2rem 0;
            margin: 0 auto;
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            dl {
                margin: 0;
                padding: 0;
                width: 50vw;
                display: flex;
        
                dt {
                    margin-top: 0.3125rem;
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 0.5rem;
                    font-size: 90%;
                }
        
                dd {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 90%;
                    
                    select {
                        border: 1px solid rgb(112, 128, 144);
                        border-radius: 0.3rem;
                        padding: 0.4rem;
                        font-size: 90%;
                    }
                }
            }
            
            dl#questions {
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                                                
                dt {
                    margin: 0;
                    margin-right: 10px;
                    padding: 0;
                    width: 100%;
                    margin-bottom: 1rem;
                    font-weight: bold;
                    text-transform: lowercase;
                    display: flex;
                    justify-content: center;
                    font-size: 150%;   
                    color: rgb(198, 10, 30);
                }
        
                dd {
                    margin: 0;
                    margin-top: 0.5rem;
                    padding: 0 0.5rem;
                    display: flex;
                    flex-direction: column; 
                    justify-content: center;
                    margin: auto;
    
                    div {
                        display: flex;
                        flex: 1 1 0;
                        margin-bottom: 0.5rem;
                        flex-direction: row;
                        margin: auto;
    
                        input {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        
        }
    
        .buttons {
            margin-top: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
    
            @media only screen and (max-width: 480px) {
                margin-top: 6rem;
            }
    
            input[type="button"] {
                width: 6.2rem;
                padding: 0.4rem;
                border-radius: 0.5rem;
                color: rgb(255, 255, 255);
                border: none;
            }
        
            #submitBtn {
                background: rgb(40, 167, 69);
            }
        }
    }
}    