section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 8.0rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;
        font-family: "Open Sans", serif;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 175%;
    }
}

form#slider {
    fieldset {
        border-radius: 0.8rem;
        padding: 1.2rem 0;
        margin: 0 auto;
        border: 0.0625rem solid rgb(198, 10, 30);
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        @media only screen and (max-width: 480px) {
            margin-top: -30px;
            border: none;
            width: 100%;
            height: 15vh;
        }

        dl#numQuestionsSelect {
            padding: 0;
            padding-top: 0.85rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            @media only screen and (max-width: 480px) {
                width: 100% !important;
                flex-direction: column !important;
            }

            dt {
                width: 30%;
                text-align: right;
                margin-top: 0.3125rem;
                margin-right: 0.5rem;
                text-transform: capitalize;

                @media only screen and (max-width: 480px) {
                    width: 100% !important;
                }
            }

            dd {
                width: 30%;
                justify-content: flex-start;

                @media only screen and (max-width: 480px) {
                    width: 100% !important;
                }

                select {
                    width: 30%;
                    border: 1px solid rgb(112, 128, 144);
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    font-size: 80%;
                
                    @media only screen and (max-width: 480px) {
                        width: 100% !important;
                    }
                }
            }
        }
    
        dl#categorySelect {
            padding: 0;
            padding-top: 0.85rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            @media only screen and (max-width: 480px) {
                width: 120%;
            }

            dt {
                margin: 0;
                margin-top: 0.3125rem;
                margin-right: 0.5rem;
                padding: 0;
                width: 30%;
                font-weight: bold;
                text-transform: capitalize;
                text-align: right;
                font-size: 90%;   
            }
    
            dd {
                margin: 0;
                width: 65%;
                padding: 0 0.5rem;
                
                select {
                    width: 65%;
                    border: 1px solid rgb(112, 128, 144);
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    font-size: 80%;

                    @media only screen and (max-width: 480px) {
                        width: 100%;
                    }
                }
            }
        }

        #questions {
            padding: 0;
            padding-top: 0.85rem;
            width: 100%;
            display: flex;
            flex-direction: column !important;
            justify-content: center;

            h4 {
                font-weight: bold;
            }

            h5 {
                margin-bottom: 2rem;
                color:rgb(198, 10, 30);
            }
                         
            .sliders {
                display: flex;
                flex-direction: row;

                .bricks {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 1 1 0;
                    margin: 0 0.5rem;

                    div {
                        width: 15rem;
                        margin: 0.0625rem 0;
                        padding: 0.5rem;
                        text-align: center;
                        background: rgb(198, 10, 30);
                        color: rgb(255, 196, 0);
                    }
                }
    
                .slides {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 1 1 0;
                    margin: 0 0.0625rem;

                    div {
                        width: 15rem;
                        margin: 0.0625rem 0;
                        padding: 0.5rem;
                        text-align: center;
                        color: rgb(198, 10, 30);
                        background: rgb(255, 196, 0);
                    }
                }
            }
        }
    
    }

    .draggable {
        cursor: move;
        user-select: none;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
    
        input[type="button"] {
            width: 6.2rem;
            padding: 0.4rem;
            border-radius: 0.5rem;
            color: rgb(255, 255, 255);
            border: none;
        }
    
        #submitBtn {
            background: rgb(40, 167, 69);
        }
    }
}