section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 8.0rem;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 50px;
        font-family: "Open Sans", serif;
        text-transform: capitalize;
        font-weight: normal;
        font-size: 175%;
    }

    form#conjugator {
        font-family: 'Roboto', sans-serif;

        fieldset {
            border: 1px solid rgb(198, 10, 30);
            border-radius: 0.8rem;
            padding: 0;
            margin: 0 auto;
            background:  rgb(255, 196, 0);

            dl {
                padding: 0;
                padding-top: 0.85rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                border-top: 1px solid rgb(198, 10, 30);
                                                
                dt {
                    margin: 0;
                    margin-top: 5px;
                    margin-right: 10px;
                    padding: 0;
                    width: 30%;
                    font-weight: bold;
                    text-transform: capitalize;
                    text-align: right;
                    font-size: 80%;   
                }

                dd {
                    margin: 0;
                    padding: 0 0.5rem;
                    width: 70%;    
                    
                    input {
                        width: 100%;
                    }
                }
            }

            dl:first-child {
                border-top: none;
            }
        }
    }
  }