.tense-section {
    margin: 1.5rem;
    width: 60%;
    min-height: 50vh;

    h3 {
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        color: rgb(198 10 30);
        font-weight: bold;
        width: 100%;
        text-align: left !important;
        border-bottom: 0.125rem solid rgb(198 10 30);
    }

    p {
        width: 100%;
        text-align: left;
    }

    ul {
        width: 100%;

        dl {
            width: 60%;
            display: flex;
            margin-bottom: 0;

            dt {
                width: 50%;
                color: rgb(198 10 30);
            }

            dd {
                width: 50%;
                justify-content: flex-end;
            }
        }
    }
}
